SWITCHBOT_TOKEN=your_switchbot_token_here
SWITCHBOT_SECRET=your_switchbot_secret_here
KATA_DEVICE_ID=your_kata_device_id_here
KATA_MAC=xx:xx:xx:xx:xx:xx
KATA_BLE_MAC=XX:XX:XX:XX:XX:XX
HOME_API_URL=http://localhost:9000/events
KATA_IP=192.168.x.x
